extends ../../../pug/layout_FT
block title
	title 300x250 4Frames
block metaSize
	meta(name="ad.size", content='width=300,height=250')
block content
	#step-1.wrapper.white-state.centered-layout.step(data-order=1)
		ft-default#main
			ft-dynamic(name='bg_img3')#bg03
			ft-dynamic(name='bg_img2')#bg02
			ft-dynamic(name='bg_img1')#bg01
			#logoBox
			#frame1
				#bigBox1
					ft-dynamic(name='eye_brow_01_line1')#txt_01_a
				#txtBox1
					ft-dynamic(name='eye_brow_01_line2')#txt_01_b
			#frame2
				#bigBox2
					ft-dynamic(name='eye_brow_02_line1')#txt_02_a
				#txtBox2
					ft-dynamic(name='eye_brow_02_line2')#txt_02_b
			#frame3
				#bigBox3
				#txtBox3
					ft-dynamic(name='eye_brow_03_line1')#txt_03_a
				#legal_Box
					ft-dynamic(name='legal_txt')#legal_txt
			#finalframe
				#bigBox4
					ft-dynamic(name='eye_brow_04_line1')#txt_04_a
				#txtBox4
					ft-dynamic(name='eye_brow_04_line2')#txt_04_b
			#ctaBox
				ft-dynamic(name='cta_txt')#ctaTxt
				#ctaShine
				#ctaHit
			#logo
				img(src="./images/logo.svg")
