// font colors 
$primary-color: #131313 ;
// border color
$mainBorder: DimGrey;
// bckgnd-color
$secondary-color: white;
$bgcPreloader: LightGrey;
// Font
$primary-font: 'Arial';
// Sizes
$banner-width: 300px !default;
$banner-height: 250px !default;
