extends ../../../pug/layout_FT_ISI
block title
	title 300x250_Dynamic_ISI
block metaSize
	meta(name="ad.size", content='width=300,height=250')
block content
	#step-1.wrapper.white-state.centered-layout.step(data-order=1)
		ft-default#main
			ft-dynamic(name='bg_img4')#bg04
			ft-dynamic(name='bg_img3')#bg03
			ft-dynamic(name='bg_img2')#bg02
			ft-dynamic(name='bg_img1')#bg01
			#logo
				img(src="./images/b2b_logo.svg")
			#frame1
				#txtBox1
					ft-dynamic(name='frame1_copyBox')#txt_01
				#legal_Box01.legal_Box
					ft-dynamic(name='legal_txt_f1')#legal_txt_f1
			#frame2
				#txtBox2
					ft-dynamic(name='frame2_copyBox')#txt_02
				#legal_Box02.legal_Box
					ft-dynamic(name='legal_txt_f2')#legal_txt_f2
			#frame3
				#txtBox3
					ft-dynamic(name='frame3_copyBox')#txt_03
				#legal_Box03.legal_Box
					ft-dynamic(name='legal_txt_f3')#legal_txt_f3
			#frame4
				#txtBox4
					ft-dynamic(name='frame4_copyBox')#txt_04
				#legal_Box04.legal_Box
					ft-dynamic(name='legal_txt_f4')#legal_txt_f4
			#finalframe
				#leftBoxFF
					ft-dynamic(name='end_card_head1')#txt_FF_a
				#rightBoxFF
					ft-dynamic(name='end_card_head2')#txt_FF_b
			#legal_BoxFF.legal_Box
				ft-dynamic(name='legal_txt_ff')#legal_txt_ff
			#ctaBox
				ft-dynamic(name='cta_txt')#ctaTxt.ctaTxt
				#ctaShine
				#ctaHit
		#legalBox
			.isi-main
				#isi_wrapper.isi_wrapper
					#scroller.isi
						ft-dynamic(name='legal_txt_Box')#txt_legal
		#ctaHitOpen.btn_legal
			sup *
			ft-dynamic(name='btn_legal').btn_legal_text
			| &#9650;
		#ctaHitClose
			img(src="./images/close_2x.png").legal_close
